Repository simjaeik/Pets, pull requests merged in 2021-04, with the labels that each got.

#8 [feat] 회원가입 기능 구현
  mobile/.idea/codeStyles/Project.xml
  mobile/.idea/codeStyles/codeStyleConfig.xml
  mobile/app/build.gradle
  mobile/app/src/main/java/com/lacuc/pets/ViewModelFactory.kt
  mobile/app/src/main/java/com/lacuc/pets/data/LoginService.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/SignUpUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/SignUpFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/SignUpViewModel.kt
  mobile/app/src/main/res/layout/activity_main.xml
  mobile/app/src/main/res/layout/fragment_sign_up.xml
  mobile/app/src/main/res/navigation/nav_main.xml
  mobile/app/src/main/res/values/strings.xml
  mobile/app/src/main/res/values/themes.xml
  mobile/app/src/test/java/com/lacuc/pets/LiveDataTestUtil.kt
  mobile/app/src/test/java/com/lacuc/pets/SignUpUseCaseTest.kt
  mobile/app/src/test/java/com/lacuc/pets/SignUpViewModelTest.kt
  mobile/build.gradle
Labels: enhancement, mobile

#12 [feat] 그룹 조회 기능
  mobile/app/build.gradle
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/lacuc/pets/App.kt
  mobile/app/src/main/java/com/lacuc/pets/ViewModelFactory.kt
  mobile/app/src/main/java/com/lacuc/pets/data/FakeGroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/Group.kt
  mobile/app/src/main/java/com/lacuc/pets/data/GroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/group/GetGroupUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/group/GroupItem.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/login/SignInUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/login/SignUpUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/group/ChooseGroupAdapter.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/group/ChooseGroupFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/group/ChooseGroupViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/group/GroupItemBinding.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/group/GroupListBinding.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/login/signin/SignInFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/login/signup/SignUpFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/login/signup/SignUpViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/util/ViewBindingHolder.kt
  mobile/app/src/main/res/drawable/ic_baseline_add_24.xml
  mobile/app/src/main/res/layout/fragment_choose_group.xml
  mobile/app/src/main/res/layout/fragment_sign_in.xml
  mobile/app/src/main/res/layout/fragment_sign_up.xml
  mobile/app/src/main/res/layout/item_group.xml
  mobile/app/src/main/res/menu/menu_group.xml
  mobile/app/src/main/res/navigation/nav_main.xml
  mobile/app/src/main/res/values/strings.xml
  mobile/app/src/test/java/com/lacuc/pets/ExampleUnitTest.kt
  mobile/app/src/test/java/com/lacuc/pets/domain/group/GetGroupUseCaseTest.kt
  mobile/app/src/test/java/com/lacuc/pets/domain/login/SignInUseCaseTest.kt
  mobile/app/src/test/java/com/lacuc/pets/domain/login/SignUpUseCaseTest.kt
  mobile/app/src/test/java/com/lacuc/pets/ui/login/SignUpViewModelTest.kt
  mobile/app/src/test/java/com/lacuc/pets/util/LiveDataTestUtil.kt
  mobile/build.gradle
Labels: enhancement, mobile

#14 [feat] 모바일 앱 Dagger2 적용
  mobile/app/build.gradle
  mobile/app/src/main/java/com/lacuc/pets/App.kt
  mobile/app/src/main/java/com/lacuc/pets/MainActivity.kt
  mobile/app/src/main/java/com/lacuc/pets/MainModule.kt
  mobile/app/src/main/java/com/lacuc/pets/ViewModelFactory.kt
  mobile/app/src/main/java/com/lacuc/pets/data/FakeGroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/di/ActivityModule.kt
  mobile/app/src/main/java/com/lacuc/pets/di/AppComponent.kt
  mobile/app/src/main/java/com/lacuc/pets/di/AppModule.kt
  mobile/app/src/main/java/com/lacuc/pets/di/CustomQualifiers.kt
  mobile/app/src/main/java/com/lacuc/pets/di/CustomScopes.kt
  mobile/app/src/main/java/com/lacuc/pets/di/RetrofitModule.kt
  mobile/app/src/main/java/com/lacuc/pets/di/ViewModelModule.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/group/GetGroupUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/login/SignUpUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/group/ChooseGroupFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/group/ChooseGroupViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/login/signup/SignUpFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/login/signup/SignUpViewModel.kt
  mobile/app/src/test/java/com/lacuc/pets/domain/group/GetGroupUseCaseTest.kt
  mobile/build.gradle
Labels: enhancement, mobile

#16 [feat] 안드로이드 애플리케이션 product flavor 구분
  mobile/app/build.gradle
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/lacuc/pets/data/LoginService.kt
  mobile/app/src/main/java/com/lacuc/pets/di/AppModule.kt
  mobile/app/src/main/java/com/lacuc/pets/di/RetrofitModule.kt
  mobile/app/src/mock/java/com/lacuc/pets/data/FakeGroupRepository.kt
  mobile/app/src/mock/java/com/lacuc/pets/di/RepositoryModule.kt
  mobile/app/src/mock/java/com/lacuc/pets/di/RetrofitModule.kt
  mobile/app/src/prod/java/com/lacuc/pets/data/DefaultGroupRepository.kt
  mobile/app/src/prod/java/com/lacuc/pets/di/RepositoryModule.kt
  mobile/app/src/prod/java/com/lacuc/pets/di/RetrofitModule.kt
Labels: enhancement, mobile

#18 [feat] 모바일 앱 flavor 재설정
  mobile/app/src/main/java/com/lacuc/pets/data/group/DefaultGroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/Group.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupDataSource.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/di/RepositoryModule.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/group/GetGroupUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/group/GroupItem.kt
  mobile/app/src/mock/java/com/lacuc/pets/data/FakeGroupRepository.kt
  mobile/app/src/mock/java/com/lacuc/pets/data/group/FakeGroupRemoteDataSource.kt
  mobile/app/src/mock/java/com/lacuc/pets/di/DataSourceModule.kt
  mobile/app/src/mock/java/com/lacuc/pets/di/RepositoryModule.kt
  mobile/app/src/prod/java/com/lacuc/pets/data/DefaultGroupRepository.kt
  mobile/app/src/prod/java/com/lacuc/pets/data/group/GroupRemoteDataSource.kt
  mobile/app/src/prod/java/com/lacuc/pets/di/DataSourceModule.kt
  mobile/app/src/test/java/com/lacuc/pets/domain/group/GetGroupUseCaseTest.kt
Labels: enhancement, mobile

#10 [chore] 웹 백앤드 초기 설정
  web/server/.gitignore
  web/server/package-lock.json
  web/server/package.json
  web/server/readme.md
  web/server/src/app.js
  web/server/src/config/index.js
  web/server/src/routes/animal.js
  web/server/src/routes/comment.js
  web/server/src/routes/group.js
  web/server/src/routes/image.js
  web/server/src/routes/index.js
  web/server/src/routes/item.js
  web/server/src/routes/post.js
  web/server/src/routes/user.js
Labels: setting, web-backend

#22 [feat] 그룹 생성 기능 ㄱ현
  mobile/app/src/main/java/com/lacuc/pets/MainModule.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/DefaultGroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupDataSource.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/di/ViewModelModule.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/group/AddGroupUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/group/GroupItemBinding.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/group/add/AddGroupFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/group/add/AddGroupViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/group/choose/ChooseGroupAdapter.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/group/choose/ChooseGroupFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/group/choose/ChooseGroupViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/util/BindingAdpaters.kt
  mobile/app/src/main/res/drawable/ic_baseline_camera_alt_24.xml
  mobile/app/src/main/res/layout/fragment_add_group.xml
  mobile/app/src/main/res/layout/fragment_choose_group.xml
  mobile/app/src/main/res/navigation/nav_main.xml
  mobile/app/src/main/res/values/strings.xml
  mobile/app/src/mock/java/com/lacuc/pets/data/group/FakeGroupRemoteDataSource.kt
  mobile/app/src/test/java/com/lacuc/pets/domain/group/AddGroupUseCaseTest.kt
Labels: enhancement, mobile

#27 [feat] sequelize 세팅 & 관계설정
  web/server/readme.md
  web/server/src/model/animal.js
  web/server/src/model/group.js
  web/server/src/model/index.js
  web/server/src/model/member.js
  web/server/src/model/post.js
  web/server/src/routes/index.js
Labels: setting, web-backend

#19 [feat] 웹페이지 첫화면
  web/client/css/bootstrap-responsive.css
  web/client/css/bootstrap-responsive.min.css
  web/client/css/bootstrap.css
  web/client/css/bootstrap.min.css
  web/client/css/login.css
  web/client/img/dog.jpg
  web/client/img/glyphicons-halflings-white.png
  web/client/img/glyphicons-halflings.png
  web/client/js/bootstrap.js
  web/client/js/bootstrap.min.js
  web/client/pets.html
Labels: web-frontend

#25 [feat] 회원가입 기능 구현
  web/client/boot_css/bootstrap-responsive.css
  web/client/boot_css/bootstrap-responsive.min.css
  web/client/boot_css/bootstrap.css
  web/client/boot_css/bootstrap.min.css
  web/client/boot_css/login.css
  web/client/boot_js/bootstrap.js
  web/client/boot_js/bootstrap.min.js
  web/client/join/join.css
  web/client/join/join.html
  web/client/join/join.js
  web/client/login/login.css
  web/client/login/login.html
  web/client/login/login.js
  web/client/pets.html
Labels: web-frontend

#35 Front/community
  web/client/community/community.css
  web/client/community/community.html
  web/client/community/community.js
  web/client/css/bootstrap-responsive.css
  web/client/css/bootstrap-responsive.min.css
  web/client/css/bootstrap.css
  web/client/css/bootstrap.min.css
  web/client/css/login.css
  web/client/img/footprint.png
  web/client/js/bootstrap.js
  web/client/js/bootstrap.min.js
  web/client/login/login.html
  web/client/pets.html
Labels: web-frontend

#40 Front/comm more
  web/client/comm_more/comm_more.css
  web/client/comm_more/comm_more.html
  web/client/comm_more/comm_more.js
  web/client/community/community.html
Labels: web-frontend

#42 [feat] 커뮤니티 게시글 작성 페이지 구현
  web/client/comm_more/comm_more.html
  web/client/community/community.html
  web/client/post/post.css
  web/client/post/post.html
  web/client/post/post.js
Labels: web-frontend
