Repository simjaeik/Pets, pull requests merged in 2021-05, with the labels that each got.

#34 [feat] DB 테이블 수정 & memo 테이블 생성
  web/server/src/model/animal.js
  web/server/src/model/group.js
  web/server/src/model/member.js
  web/server/src/model/post.js
Labels: fix, setting, web-backend

#54 [chore] backend 서버 배포
  web/server/.gitignore
  web/server/package-lock.json
  web/server/package.json
  web/server/readme.md
  web/server/src/app.js
  web/server/src/config/index.js
  web/server/src/controller/user.js
  web/server/src/lib/controller.js
  web/server/src/lib/utill/jwt.js
  web/server/src/model/animal.js
  web/server/src/model/group.js
  web/server/src/model/index.js
  web/server/src/model/member.js
  web/server/src/model/post.js
  web/server/src/passport/index.js
  web/server/src/passport/jwt.js
  web/server/src/passport/login.js
  web/server/src/routes/animal.js
  web/server/src/routes/comment.js
  web/server/src/routes/group.js
  web/server/src/routes/image.js
  web/server/src/routes/index.js
  web/server/src/routes/item.js
  web/server/src/routes/middleware/jwt-auth.js
  web/server/src/routes/middleware/local-auth.js
  web/server/src/routes/post.js
  web/server/src/routes/user.js
  web/server/src/service/user.js
Labels: setting, web-backend

#59 [feat] web 브랜치 병합
  web/server/package-lock.json
  web/server/package.json
  web/server/src/controller/animal.js
  web/server/src/controller/comment.js
  web/server/src/controller/group.js
  web/server/src/controller/image.js
  web/server/src/controller/item.js
  web/server/src/controller/post.js
  web/server/src/controller/user.js
  web/server/src/lib/controller.js
  web/server/src/lib/utill/jwt.js
  web/server/src/model/animal.js
  web/server/src/model/group.js
  web/server/src/model/index.js
  web/server/src/model/member.js
  web/server/src/model/post.js
  web/server/src/passport/index.js
  web/server/src/passport/jwt.js
  web/server/src/passport/login.js
  web/server/src/routes/index.js
  web/server/src/routes/middleware/jwt-auth.js
  web/server/src/routes/middleware/local-auth.js
  web/server/src/routes/user.js
  web/server/src/service/user.js
Labels: web-backend

#62 [fix] user Login 수정 및 오류수정
  web/server/src/lib/utill/jwt.js
  web/server/src/model/group.js
  web/server/src/model/post.js
  web/server/src/service/user.js
Labels: fix, web-backend

#63 [fix] bcrypt을 bcryptjs로 변경
  web/server/package-lock.json
  web/server/package.json
  web/server/src/lib/controller.js
  web/server/src/passport/login.js
  web/server/src/service/user.js
Labels: fix, web-backend

#64 [feat] 로그인 관련 user API 구현
  web/server/src/controller/user.js
  web/server/src/routes/user.js
  web/server/src/service/user.js
Labels: enhancement, web-backend

#73 [feat] setGroup, getMyGroups 구현
  web/server/src/config/index.js
  web/server/src/controller/group.js
  web/server/src/controller/user.js
  web/server/src/model/group.js
  web/server/src/model/index.js
  web/server/src/passport/index.js
  web/server/src/routes/group.js
  web/server/src/routes/middleware/jwt-auth.js
  web/server/src/routes/user.js
  web/server/src/service/group.js
Labels: enhancement, web-backend

#78 [feat] 회원가입, 로그인 네트워크 연동
  mobile/app/build.gradle
  mobile/app/src/main/java/com/lacuc/pets/data/Result.kt
  mobile/app/src/main/java/com/lacuc/pets/data/login/LoginService.kt
  mobile/app/src/main/java/com/lacuc/pets/di/ActivityModule.kt
  mobile/app/src/main/java/com/lacuc/pets/di/ViewModelModule.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/login/EmailCheckUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/login/NickNameCheckUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/login/SignInUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/login/SignUpUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/login/LoginActivity.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/login/LoginModule.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/login/signin/SignInFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/login/signin/SignInViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/login/signup/SignUpFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/login/signup/SignUpViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/util/TokenManager.kt
  mobile/app/src/main/java/com/lacuc/pets/util/retrofit/AddTokenInterceptor.kt
  mobile/app/src/main/res/drawable/ic_baseline_check_24.xml
  mobile/app/src/main/res/layout/fragment_sign_in.xml
  mobile/app/src/main/res/layout/fragment_sign_up.xml
  mobile/app/src/main/res/values/strings.xml
  mobile/app/src/prod/java/com/lacuc/pets/data/group/GroupRemoteDataSource.kt
  mobile/app/src/prod/java/com/lacuc/pets/di/RetrofitModule.kt
  mobile/app/src/test/java/com/lacuc/pets/ui/login/SignUpViewModelTest.kt
Labels: enhancement, mobile

#85 [feat] user 정보 관련 API 구현
  web/server/src/controller/user.js
  web/server/src/routes/user.js
  web/server/src/service/user.js
Labels: enhancement, web-backend

#86 [feat] 그룹 관련 API 호출 연동
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalDataSource.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalService.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/DefaultAnimalRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/entity/Animal.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/DefaultGroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupDataSource.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupService.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/entity/Group.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/entity/GroupImage.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/entity/ItemHistory.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/entity/Member.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/animal/GetAnimalDetailUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/animal/GetAnimalUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/animal/GetAnimalsUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/medical/AddMedicalUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/medical/GetMedicalUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/memo/AddMemoUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/memo/GetMemoUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/group/AddGroupUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/group/GetGroupUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/group/GetGroupsUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/image/GetGroupImageUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/image/GetGroupImagesUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/item/GetItemsUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/member/GetGroupMemberUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/member/GetGroupMembersUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/member/UpdateGroupMemberUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/ManageViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/add/AddAnimalViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/choose/ChooseAnimalViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/AnimalDetailViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/medical/AddMedicalViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/memo/AddMemoViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/choose/ChooseGroupFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/gallery/GalleryViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/gallery/detail/ImageDetailViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/gallery/save/SaveImageViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/info/UserProfileViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/item/ItemListViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/member/ManageMemberViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/save/SaveGroupFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/save/SaveGroupViewModel.kt
  mobile/app/src/prod/java/com/lacuc/pets/data/animal/AnimalRemoteDataSource.kt
  mobile/app/src/prod/java/com/lacuc/pets/data/group/GroupRemoteDataSource.kt
  mobile/app/src/prod/java/com/lacuc/pets/di/RetrofitModule.kt
Labels: enhancement, mobile

#88 [refactor] bcrpyt 사용하는 라이브러리 구현
  web/server/src/lib/encrypt.js
  web/server/src/passport/login.js
  web/server/src/service/user.js
Labels: enhancement, web-backend

#91 [fix] 디버그 flavor 수정
  mobile/app/src/main/java/com/lacuc/pets/data/login/LoginService.kt
  mobile/app/src/mock/java/com/lacuc/pets/data/animal/FakeAnimalRemoteDataSource.kt
  mobile/app/src/mock/java/com/lacuc/pets/data/group/FakeGroupRemoteDataSource.kt
  mobile/app/src/mock/java/com/lacuc/pets/di/RetrofitModule.kt
Labels: fix, mobile

#93 [bug] 그룹 업데이트 이벤트 옵저버 추가
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/choose/ChooseAnimalFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/save/SaveGroupFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/save/SaveGroupViewModel.kt
Labels: bug, mobile

#94 [bug] 그룹 추가 페이지 상태 지속 버그
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/choose/ChooseGroupFragment.kt
Labels: bug, mobile

#98 [feat] 그룹 관련 API 구현
  web/server/src/controller/group.js
  web/server/src/routes/group.js
  web/server/src/routes/middleware/group-auth.js
  web/server/src/service/group.js
Labels: enhancement, web-backend

#104 [feat] 그룹 업데이트 연동
  mobile/app/src/main/java/com/lacuc/pets/data/group/DefaultGroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupDataSource.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupService.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/group/UpdateGroupUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/save/SaveGroupViewModel.kt
  mobile/app/src/prod/java/com/lacuc/pets/data/group/GroupRemoteDataSource.kt
Labels: enhancement, mobile

#106 [bug] 그룹 업데이트 시 데이터 미변경
  mobile/app/src/main/java/com/lacuc/pets/domain/group/UpdateGroupUseCase.kt
  mobile/app/src/mock/java/com/lacuc/pets/data/group/FakeGroupRemoteDataSource.kt
Labels: enhancement, mobile

#108 [feat] 동물 정보 업데이트 로직 구현
  mobile/app/src/main/java/com/lacuc/pets/data/animal/DefaultAnimalRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/di/ViewModelModule.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/animal/UpdateAnimalUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/ManageModule.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/AnimalDetailFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/AnimalDetailViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/save/SaveAnimalFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/save/SaveAnimalViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/util/BindingAdpaters.kt
  mobile/app/src/main/res/layout/fragment_animal_detail.xml
  mobile/app/src/main/res/layout/fragment_save_animal.xml
  mobile/app/src/main/res/navigation/nav_manage.xml
  mobile/app/src/mock/java/com/lacuc/pets/data/animal/FakeAnimalRemoteDataSource.kt
Labels: enhancement, mobile

#111 [feat] 그룹 & 멤버 API 구현
  web/server/src/controller/group.js
  web/server/src/model/animal.js
  web/server/src/model/group.js
  web/server/src/model/member.js
  web/server/src/model/post.js
  web/server/src/routes/group.js
  web/server/src/routes/middleware/group-auth.js
  web/server/src/service/group.js
Labels: enhancement, web-backend

#112 [feat] API 호출 함수 정리
  mobile/.idea/codeStyles/Project.xml
  mobile/app/src/main/java/com/lacuc/pets/data/animal/DefaultAnimalRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/entity/Memo.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/DefaultGroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupDataSource.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupService.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/entity/Member.kt
  mobile/app/src/main/java/com/lacuc/pets/data/post/PostService.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/member/UpdateGroupMemberUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/member/UpdateProfileUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/memo/AddMemoViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/info/UserProfileViewModel.kt
  mobile/app/src/mock/java/com/lacuc/pets/data/animal/FakeAnimalRemoteDataSource.kt
  mobile/app/src/mock/java/com/lacuc/pets/data/group/FakeGroupRemoteDataSource.kt
  mobile/app/src/mock/java/com/lacuc/pets/di/RetrofitModule.kt
  mobile/app/src/prod/java/com/lacuc/pets/data/group/GroupRemoteDataSource.kt
  mobile/app/src/prod/java/com/lacuc/pets/di/RetrofitModule.kt
Labels: enhancement, mobile

#119 [feat] delete시 그룹 관련 튜플 모두 지우기
  web/server/src/service/group.js
Labels: enhancement, web-backend

#121 [feat] 동물 관련 API 구현
  web/server/src/controller/animal.js
  web/server/src/model/animal.js
  web/server/src/routes/animal.js
  web/server/src/routes/middleware/group-auth.js
  web/server/src/service/animal.js
Labels: enhancement, web-backend

#126 [feat] 물품기록 관련 API 구현
  web/server/src/controller/item.js
  web/server/src/model/group.js
  web/server/src/routes/item.js
  web/server/src/service/item.js
Labels: enhancement, web-backend

#127 유저 정보 조회&수정
  web/client/login/login.js
  web/client/myPage/myPage.css
  web/client/myPage/myPage.html
  web/client/myPage/myPage.js
Labels: web-frontend

#128 [feat] 프로필 정보 수정 구현
  mobile/app/src/main/java/com/lacuc/pets/domain/member/GetProfileUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/info/UserProfileFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/info/UserProfileViewModel.kt
  mobile/app/src/main/res/layout/fragment_user_profile.xml
  mobile/app/src/mock/java/com/lacuc/pets/data/group/FakeGroupRemoteDataSource.kt
Labels: enhancement, mobile

#131 [feat] 메모 관련 API 구현
  web/server/src/controller/animal.js
  web/server/src/routes/animal.js
  web/server/src/service/animal.js
Labels: enhancement, web-backend

#133 [feat] 메모 관련 API 구현
  web/server/src/controller/animal.js
  web/server/src/routes/animal.js
  web/server/src/service/animal.js
Labels: enhancement, web-backend

#136 [feat] 메모 기록 변경
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalDataSource.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalService.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/DefaultAnimalRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/di/ViewModelModule.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/AnimalDetailItem.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/memo/GetMemoUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/memo/GetMemosUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/memo/UpdateMemoUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/ManageModule.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/ManageViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/AnimalDetailFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/AnimalDetailViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/memo/SaveMemoFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/memo/SaveMemoViewModel.kt
  mobile/app/src/main/res/layout/fragment_save_memo.xml
  mobile/app/src/main/res/layout/item_animal_detail_memo.xml
  mobile/app/src/main/res/navigation/nav_manage.xml
  mobile/app/src/mock/java/com/lacuc/pets/data/animal/FakeAnimalRemoteDataSource.kt
Labels: enhancement, mobile

#137 [feat] 병원 기록 변경
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalDataSource.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/DefaultAnimalRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/entity/Medical.kt
  mobile/app/src/main/java/com/lacuc/pets/di/ViewModelModule.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/AnimalDetailItem.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/medical/GetMedicalUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/medical/GetMedicalsUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/medical/UpdateMedicalUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/ManageModule.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/AnimalDetailFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/AnimalDetailViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/medical/AddMedicalViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/medical/SaveMedicalFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/medical/SaveMedicalViewModel.kt
  mobile/app/src/main/res/layout/fragment_save_medical.xml
  mobile/app/src/main/res/layout/item_animal_detail_medical.xml
  mobile/app/src/main/res/navigation/nav_manage.xml
  mobile/app/src/mock/java/com/lacuc/pets/data/animal/FakeAnimalRemoteDataSource.kt
Labels: enhancement, mobile

#140 [feat] API 연동
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalDataSource.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalService.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/DefaultAnimalRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/entity/Animal.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/entity/Medical.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/DefaultGroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupDataSource.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupService.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/entity/Member.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/AnimalDetailItem.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/AnimalItem.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/medical/AddMedicalUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/memo/AddMemoUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/member/GetGroupMemberUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/AnimalDetailFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/medical/SaveMedicalFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/medical/SaveMedicalViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/memo/SaveMemoFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/detail/memo/SaveMemoViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/save/SaveAnimalViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/info/UserProfileViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/member/ManageMemberFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/member/invite/InviteMemberFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/util/BindingAdpaters.kt
  mobile/app/src/main/res/layout/fragment_animal_detail.xml
  mobile/app/src/main/res/layout/fragment_user_profile.xml
  mobile/app/src/main/res/layout/item_animal_detail_medical.xml
  mobile/app/src/main/res/navigation/nav_manage.xml
  mobile/app/src/mock/java/com/lacuc/pets/data/animal/FakeAnimalRemoteDataSource.kt
  mobile/app/src/mock/java/com/lacuc/pets/data/group/FakeGroupRemoteDataSource.kt
  mobile/app/src/prod/java/com/lacuc/pets/data/animal/AnimalRemoteDataSource.kt
  mobile/app/src/prod/java/com/lacuc/pets/data/group/GroupRemoteDataSource.kt
Labels: enhancement, mobile

#142 [feat] 갤러리 이미지 관련 API 구현 & S3 서버 띄우기
  web/server/package-lock.json
  web/server/package.json
  web/server/src/controller/image.js
  web/server/src/routes/image.js
  web/server/src/routes/middleware/multer.js
  web/server/src/service/image.js
Labels: enhancement, web-backend

#144 [feat] 이미지 관련 작업
  web/server/src/controller/animal.js
  web/server/src/controller/group.js
  web/server/src/routes/animal.js
  web/server/src/routes/group.js
  web/server/src/service/animal.js
  web/server/src/service/group.js
  web/server/src/service/user.js
Labels: enhancement, web-backend

#147 [feat] 단일 호출, 다중 호출 구분
  web/server/src/controller/animal.js
  web/server/src/controller/item.js
  web/server/src/routes/animal.js
  web/server/src/routes/item.js
  web/server/src/service/animal.js
  web/server/src/service/item.js
Labels: enhancement, web-backend

#149 [feat] 물품 추가 및 수정
  mobile/app/src/main/java/com/lacuc/pets/data/group/DefaultGroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupDataSource.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupService.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/entity/ItemHistory.kt
  mobile/app/src/main/java/com/lacuc/pets/di/ViewModelModule.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/item/AddItemUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/item/GetItemListUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/item/GetItemUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/item/UpdateItemUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/ManageModule.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/item/ItemListFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/item/ItemListViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/item/save/SaveItemFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/item/save/SaveItemViewModel.kt
  mobile/app/src/main/res/layout/fragment_save_item.xml
  mobile/app/src/main/res/layout/item_item.xml
  mobile/app/src/main/res/navigation/nav_manage.xml
  mobile/app/src/main/res/values/strings.xml
  mobile/app/src/mock/java/com/lacuc/pets/data/animal/FakeAnimalRemoteDataSource.kt
  mobile/app/src/mock/java/com/lacuc/pets/data/group/FakeGroupRemoteDataSource.kt
  mobile/app/src/prod/java/com/lacuc/pets/data/group/GroupRemoteDataSource.kt
Labels: enhancement, mobile

#150 [feat] 이미지 작업
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalDataSource.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/AnimalService.kt
  mobile/app/src/main/java/com/lacuc/pets/data/animal/DefaultAnimalRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/DefaultGroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupDataSource.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupRepository.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/GroupService.kt
  mobile/app/src/main/java/com/lacuc/pets/data/group/entity/GroupImage.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/animal/AddAnimalUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/animal/animal/UpdateAnimalUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/group/AddGroupUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/group/UpdateGroupUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/image/UpdateImageUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/domain/image/UploadImageUseCase.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/save/SaveAnimalFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/animal/save/SaveAnimalViewModel.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/gallery/GalleryFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/gallery/save/SaveImageFragment.kt
  mobile/app/src/main/java/com/lacuc/pets/ui/manage/group/gallery/save/SaveImageViewModel.kt
  mobile/app/src/main/res/layout/fragment_save_animal.xml
  mobile/app/src/main/res/values/strings.xml
  mobile/app/src/prod/java/com/lacuc/pets/data/animal/AnimalRemoteDataSource.kt
  mobile/app/src/prod/java/com/lacuc/pets/data/group/GroupRemoteDataSource.kt
Labels: enhancement, mobile

#152 [feat] 멤버 삭제 및 버그 픽스
  web/server/src/service/animal.js
  web/server/src/service/group.js
  web/server/src/service/item.js
Labels: enhancement, web-backend
